body {
  background-color: #4f586b;
  color: #dde2f1;
  min-height: 100vh;
}

a {
  text-decoration: none !important;
}

h1 {
  font-family: Staatliches !important;
  font-size: 60px !important;
  color: #dde2f1 !important;
  text-shadow: 2px 1px #000;
}

h2.tagline {
  color: white ;
}

#category {
  font-family: Staatliches !important;
  font-weight: 500 !important;
}

#title {
  letter-spacing: 0.4px !important;
  font-size: 22px !important;
  font-size: 1.375rem !important;
  line-height: 1.13636 !important;
}

#banner {
  margin: 60px 80px 10px 80px;
  height: 400px;
}

#editor {
  font-size: 16px !important;
  font-size: 1rem !important;
  line-height: 1.75 !important;
}

.uk-navbar-container {
  background: #fff !important;
  font-family: Staatliches !important;
}

img:hover {
  opacity: 1 !important;
  transition: opacity 0.25s cubic-bezier(0.39, 0.575, 0.565, 1) !important;
}

.contactPage {
  margin-left: 60px;
  margin-right: 40px;
  margin-top: 40px;
}
.contactPhoto {
  max-width: 50%;
}
.contactForm {
  min-height: 600px;
  margin-top: 80px;
}

.contactForm .button .input {
  color: black;
  outline-color: whitesmoke;
}

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.grecaptcha-badge {
  display: none;
}

.tagline {
  margin-top: -10px;
  font-size: 24px;
  color: #565252;
}

.socialIcons {
  color: white;
  font-size: 2.5rem;
  padding-right: 1rem;
}

.socialIcons:hover {
  color: #ebd4c4;
}

#navHome {
  color: #565252;
}

 .uk-article a:link {
  color: #cdb9d6 !important;
}

.uk-article a:visited {
  color: #cdb9d6 !important;
}

#input-message {
  padding: 20px 20px 140px 20px;
}

.uk-navbar-right button {
  display: none;
}

.nav-menu {
  position: absolute;
  right: 0;
  
}
.nav-menu li {
  display: inline;
  padding-right: 20px;
  float: right;
}

.nav-menu li a {
  color: #565252;
  text-transform: uppercase;
  font-size: .875rem;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.projectsPage {
  margin: 60px;
  width: 100%;
}

.card {
  background-color: #d3d3d3;
  color: black;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  margin: 20px;
  padding: 40px;
  width: 350px;
  height: 400px;
} 

/*
 * media queries
 */
 
 @media screen and (max-width: 700px) {

  .uk-navbar-right button {
    display: inline-block;
  }
  .nav-menu {
    display: none;
  }
  .cards {
    width: 100%;
    margin-left: -60px;
  }
 }